.productImage {
  height: 200px;
  overflow: hidden;
  display: flex;
}
.productPrize {
  color: #ff590f;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 0px;
}
.productRow {
  margin-top: 10px;
}
.product {
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 5px #e0e0e0;
  border-radius: 0px;
  border-radius: 0px;
  border-radius: 0px;
  position: relative;
}
.product::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 72%;
  left: 50%;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
  z-index: 3;
}
.product:hover::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 72%;
}
.cardTitle {
  font-size: 1.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 25px;
  text-align: left;
}
.cardText {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #999;
  line-height: 1.8em;
  margin: 0 0 0.5em;
}
.cardBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.btnCart {
  margin-left: auto;
  max-width: 120px;
  border: 1px solid;
  border-radius: 0px;
  font-size: 14px;
  max-height: 40px;
}
.btnCart:hover {
  color: #fff;
  background: #ff590f;
  border-color: #ff590f;
}
.cardImgTop {
  max-width: 200px;
  object-fit: contain;
  margin: 0 auto;
}

.viewDetail {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.7s ease-in-out;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  z-index: 9999;
  display: none;
  transform: translate(-50%, 0);
}

.product:hover .viewDetail {
  display: block;
}
.viewDetail a {
  padding: 10px 20px;
  color: #fff;
  background: #ff590f;
  text-decoration: none;
  font-size: 14px;
}
