.ProductListing {
  padding: 70px 0;
}
.ProductListingTop {
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.ProductListingTop h2 {
  font-size: 35px;
  color: #ff590f;
}
