.Detail_page {
  /* width: 70%;
    margin: 0 auto; */
  text-align: left;
  background: #fff;
}
.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 50px 0px;
}
.Detail_page_images {
  display: flex;
  background: #fff;
  height: 100%;
  justify-content: center;
  align-items: center;
}
/* .Detail_image {
  max-width: 350px;
  margin-left: auto;
} */
img {
  width: 100%;
}
h2 {
  font-size: 42px;
  color: #201f1f;
  text-transform: uppercase;
  margin-bottom: 22px;
  font-weight: 600;
}
h3 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 15px;
}
h4 {
  font-size: 1.5rem;
  margin: 15px 0px;
  color: #555;
}
h5 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
label {
  margin-bottom: 15px;
}
span {
  font-size: 0.9375em;
  margin-bottom: 10px;
  color: #555;
}
form {
  margin: 22px 0px;
}
input {
  width: 28% !important;
  height: 44px;
  /* margin-top: 30px;
    margin-bottom: 50px; */
}
button {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  background: transparent;
  border: unset;
}
button:hover {
  background: #ff590f;
  color: #fff;
  transition: all ease-in-out 0.5s;
  border: unset;
  border-radius: unset;

}
.buttons {
  display: flex;
  align-items: center;
}
.FirstBtn {
  max-width: 30%;
  width: 100%;
  border: 1px solid #ff590f;
}

.SecondBtn {
  background-color: #fff;
  margin-left: 30px;
  max-width: 30%;
  width: 100%;
  color: #000;
  border: 1px solid black;

}
.SecondBtn:hover {
  background: #000;
  color: #fff;
  transition: all ease-in-out 0.5s;
  border: unset;
  border-radius: unset;
}
.Detail_image img{
  max-width: 400px;
}