.loginCard h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  opacity: 0.85;
}

.loginCard label {
  font-size: 12.5px;
  color: #000;
  opacity: 0.8;
  font-weight: 400;
}

.loginCard form {
  padding: 40px 30px;
  background: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
  width: 350px;
}
.loginCard form h4 {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.loginCard form h4 span {
  color: black;
  font-weight: 700;
}
.loginCard form p {
  line-height: 155%;
  margin-bottom: 5px;
  font-size: 14px;
  color: #000;
  opacity: 0.65;
  font-weight: 400;
  max-width: 200px;
  margin-bottom: 40px;
}
.loginCard form p.error {
  margin-top: 30px;
  text-align: center;
  color: red;
  max-width: 100%;
  width: 100%;
}
.loginCard button {
  -webkit-appearance: none;
  width: auto;
  min-width: 100px;
  border-radius: 24px;
  text-align: center;
  padding: 15px 40px;
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  margin-left: auto;
  font-weight: 500;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.16);
  border: none;
  transition: all 0.3s ease;
  outline: 0;
}
.loginCard button:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 6px -1px rgba(182, 157, 230, 0.65);
  background-color: #000;
  border-radius: 24px;
}
.loginCard button:hover:active {
  transform: scale(0.99);
}

.loginCard input {
  font-size: 16px;
  padding: 20px 0px;
  height: 56px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  background-color: #fff !important;

  width: 280px;
  box-sizing: border-box;
  transition: all 0.3s linear;
  color: #000;
  font-weight: 400;
  -webkit-appearance: none;
}
.loginCard input:focus {
  border-bottom: solid 1px #b69de6;
  outline: 0;
  box-shadow: 0 2px 6px -8px rgba(182, 157, 230, 0.45);
}

.floatingLabel {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}
.floatingLabel label {
  position: absolute;
  top: calc(50% - 7px);
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
  padding-left: 44px;
}
.floatingLabel input {
  width: calc(100% - 44px) !important;
  margin-left: auto;
  display: flex;
}
.icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 56px;
  width: 44px;
  display: flex;
}
.icon svg {
  height: 30px;
  width: 30px;
  margin: auto;
  opacity: 0.15;
  transition: all 0.3s ease;
}
.icon svg path {
  transition: all 0.3s ease;
}
.floatingLabel input:not(:-moz-placeholder-shown) {
  padding: 28px 0px 12px 0px;
}
.floatingLabel input:not(:-ms-input-placeholder) {
  padding: 28px 0px 12px 0px;
}
.floatingLabel input:not(:placeholder-shown) {
  padding: 28px 0px 12px 0px;
}
.floatingLabel input:not(:-moz-placeholder-shown) + label {
  transform: translateY(-10px);
  opacity: 0.7;
}
.floatingLabel input:not(:-ms-input-placeholder) + label {
  transform: translateY(-10px);
  opacity: 0.7;
}
.floatingLabel input:not(:placeholder-shown) + label {
  transform: translateY(-10px);
  opacity: 0.7;
}
.floatingLabel input:valid:not(:-moz-placeholder-shown) + label + .icon svg {
  opacity: 1;
}

.floatingLabel input:valid:not(:-ms-input-placeholder) + label + .icon svg {
  opacity: 1;
}
.floatingLabel input:valid:not(:placeholder-shown) + label + .icon svg {
  opacity: 1;
}
.floatingLabel
  input:valid:not(:-moz-placeholder-shown)
  + label
  + .icon
  svg
  path {
  fill: #b69de6;
}
.floatingLabel
  input:valid:not(:-ms-input-placeholder)
  + label
  + .icon
  svg
  path {
  fill: #b69de6;
}
.floatingLabel input:valid:not(:placeholder-shown) + label + .icon svg path {
  fill: #000;
}
.floatingLabel input:not(:valid):not(:focus) + label + .icon {
  -webkit-animation-name: shake-shake;
  animation-name: shake-shake;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

@-webkit-keyframes shake-shake {
  0% {
    transform: translateX(-3px);
  }
  20% {
    transform: translateX(3px);
  }
  40% {
    transform: translateX(-3px);
  }
  60% {
    transform: translateX(3px);
  }
  80% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes shake-shake {
  0% {
    transform: translateX(-3px);
  }
  20% {
    transform: translateX(3px);
  }
  40% {
    transform: translateX(-3px);
  }
  60% {
    transform: translateX(3px);
  }
  80% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0px);
  }
}
.session {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  margin: auto auto;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.12);
  max-width: 600px;
  min-height: 600px;
  width: 100%;
}

.left {
  width: 220px;
  height: auto;
  min-height: 100%;
  position: relative;
  background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  filter: grayscale(0.7);
}
.left svg {
  height: 40px;
  width: auto;
  margin: 20px;
}
.loginCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 50px;
  height: 100vh;
}
