.itemOne {
  background: url(../../assets/images/banner1.webp) no-repeat;
  height: 100vh;
  background-position: top;
  background-size: cover;
  padding: 200px 0px 100px;
  display: flex;
  align-items: center;
}
.itemTwo {
  background: url(../../assets/images/banner2.jpg) no-repeat;
}
.itemOne:before {
  position: absolute;
  left: -1px;
  top: 0px;
  width: 100%;
  z-index: 1;
  height: 100%;
  opacity: 0.8;
  content: "";
  background-color: #000;
}

.bannerText {
  text-align: center;
  margin-top: 30px;
  position: relative;
  z-index: 34;
  max-width: 900px;
  margin: 0 auto;
}
.bannerText h6 {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}
.bannerText h2 {
  font-size: 50px;
  line-height: 56px;
  margin-top: 15px;
  color: #fff;
  margin-bottom: 20px;
}
.bannerText p {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 50px;
  color: #fff;
}
.bannerText button {
  max-width: 136px;
  border: 1px solid;
  border-radius: 0px;
  max-height: 60px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  border-color: #fff;
  margin: 0 auto;
}
.bannerText button:hover {
  color: #fff;
  background: #ff590f;
  border-color: #ff590f;
}
